.order-list-container {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.order-list-container > p {
  margin-bottom: 0;
}
.order-list-container .order-list {
  padding: 10px;
  border-radius: 3px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.15);
  box-shadow:         0 0 4px rgba(0,0,0,.15);
  -webkit-transition: box-shadow .3s ease;
  transition:         box-shadow .3s ease;
}
.order-list-container .order-list:hover {
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,.3);
  box-shadow:         0 0 9px rgba(0,0,0,.3);
}
.order-list-container .order-list + .order-list {
  margin: 10px 0 0;
}
.order-list table {
  width: 100%;
  background: transparent;
}
.order-list table th {
  text-align: center;
}
.order-list table th + th {
  padding: 5px;
}
.order-list table th.price {
  width: 15%;
}
.order-list table th.quantity {
  width: 15%;
}
.order-list table th.subtotal {
  width: 10%;
}
.order-list table td {
  padding: 5px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
.order-list table tr:last-of-type td {
  font-weight: bold;
  text-align: center;
}
.order-list table td.title {
  padding: 5px 0;
}
.order-list table td.title .image {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 90px;
  margin-right: 10px;
  background: center / contain no-repeat url('/packages/theme_cubbis/themes/cubbis/images/placeholder.jpg');
}
.order-list table td.title p {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
}
.order-list table td.title p span {
  display: block;
  font-size: 13px;
  color: rgba(0,0,0,0.5);
  text-align: left;
}
.order-list table .title {
  text-align: left;
}

.btn-style-icon {
  position: relative;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 0;
  padding: 0 6px;
  font-size: 22px;
  line-height: 30px;
  color: #e6e6e6;
  font-weight: normal;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition:         color 0.2s ease;
}
.btn-style-icon:before {
  font-family: 'FontAwesome';
}
.btn-style-icon:hover {
  color: #79b38a;
}
@media (max-width: 767px) {
  .order-list table {
    font-size: 14px;
  }
  .order-list table th + th {
    padding: 5px 2px;
  }
  .order-list table td.title .image {
    display: none;
  }
  .order-list table td.title p {
    font-size: 14px;
  }
  .order-list .btn-style-icon {
    line-height: 25px;
    padding-right: 0;
  }
  .preloader:before {
    top: 28px;
  }
}