.block-teaser-info {
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	flex-direction: row;
	margin-bottom: 30px;
}
.block-teaser-info .teaser-image {
	flex: 0 0 auto;
	line-height: 0;
	margin-right: 20px;
	max-width: 30%;
}
.block-teaser-info .teaser-info {
	flex: 1 1 auto;
}
.block-teaser-info .teaser-info h4 {
	display: block;
	margin-bottom: 10px;
}
.block-teaser-info .teaser-info p:last-of-type {
	margin-bottom: 0;
}
.block-teaser-info .teaser-info a.btn-box {
	display: inline-block;
	margin-top: 10px;
}
