.block-map-locations {
  position: relative;
  margin-bottom: 30px;
  z-index: 9;
}
.block-map-locations #mapID {
  height: 500px; 
}
.block-map-locations .leaflet-popup-content {
  margin: 15px;
  width: auto!important;
}
.block-map-locations .leaflet-popup-content-wrapper {
  border-radius: 6px;
}
.block-map-locations .leaflet-popup-content-wrapper, 
.block-map-locations .leaflet-popup-tip {
  color: inherit;
}
.block-map-locations .location-popup {
  width: 400px;
  max-width: 100%;
}
.location-popup .location-image {
  float: left;
  width: 180px;
  padding-right: 30px;
}
.location-popup .location-info {
  float: right;
  width: 220px;
}
.location-popup .location-info.fullwidth {
  float: none;
  width: 100%;
}
.location-popup .location-image img {
  width: 100%;
  max-width: 100%;
}
.location-popup .location-info h3 {
  margin-bottom: 10px;
}
.location-popup .location-info .telephone,
.location-popup .location-info .email {
  color: inherit;
  text-decoration: underline;
}
.location-popup .location-info .address,
.location-popup .location-info .telephone,
.location-popup .location-info .email {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 20px;
  padding-left: 25px;
  margin-bottom: 5px;
}
.location-popup .location-info .address:before,
.location-popup .location-info .telephone:before,
.location-popup .location-info .email:before {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.location-popup .location-info .address:before {
  content: "\f08d";
}
.location-popup .location-info .telephone:before {
  content: "\f095";
}
.location-popup .location-info .email:before {
  content: "\f0e0";
}
.location-popup .location-info .details {
  font-size: 15px;
  margin-top: 15px;
}
.location-popup .location-info p {
  margin-bottom: 7px;
}

@media (max-width: 991px) {
  .block-map-locations #mapID {
    max-height: 60vh!important; 
  }
}

@media (max-width: 767px) {
  .block-map-locations .location-popup {
    width: 300px;
  }
  .location-popup .location-image {
    width: 110px;
    padding-right: 10px;
  }
  .location-popup .location-info {
    width: 190px;
  }
}
