.block-link-list {
  margin: 10px 0;
}
.block-link-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.block-link-list ul li {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 5px;
}
.block-link-list ul li a {
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .block-link-list ul li {
    padding: 0 5px;
  }
}
