.block-teaser-banner {
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 30px;
}
.block-teaser-banner .teaser-banner-left {
  position: relative;
  float: left;
  width: 60%;
  z-index: 1;
}
.block-teaser-banner .teaser-banner-right {
  position: relative;
  float: left;
  width: 40%;
  z-index: 2;
  text-align: center;
}
.teaser-banner-left span {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  font-size: 30px;
  line-height: 40px;
  max-width: 50%;
  cursor: default;
  color: #ffffff;
  z-index: 2;
}
.teaser-banner-right-inner {
  padding: 30px;
  width: auto;
  margin-left: -50px;
  background-color: #ffffff;
}
.teaser-banner-right-inner h2 {
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 10px;
}
.teaser-banner-right-inner p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;
}
.teaser-banner-images {
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
}
.teaser-banner-images.col-1 {
  margin-left: 0;
  margin-right: 0;
}
.teaser-banner-image {
  float: left;
  margin: 0 10px 20px;
}
.teaser-banner-images.col-1 .teaser-banner-image {
  width: 100%;
  margin: 0;
}
.teaser-banner-images.col-2 .teaser-banner-image,
.teaser-banner-images.col-4 .teaser-banner-image {
  width: 44%;
  width: -webkit-calc(50% - 20px);
	width:   expression(50% - 20px);
	width:         calc(50% - 20px);
}
.teaser-banner-images.col-3 .teaser-banner-image {
  width: 27%;
  width: -webkit-calc(33.33% - 20px);
	width:   expression(33.33% - 20px);
	width:         calc(33.33% - 20px);
}

@media (max-width: 991px) {
  .block-teaser-banner .teaser-banner-left {
    width: 50%;
  }
  .block-teaser-banner .teaser-banner-right {
    width: 50%;
  }
  .teaser-banner-right-inner h2 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .block-teaser-banner {
    display: block;
  }
  .block-teaser-banner .teaser-banner-left {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .block-teaser-banner .teaser-banner-right {
    float: none;
    width: 100%;
  }
  .teaser-banner-right-inner {
    margin-left: 0;
    padding: 0;
    background: transparent;
  }
}
