.order-cart-block .send-text {
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
}
.order-list table th.delete {
  position: relative;
  width: 30px;
}
.order-list table td.quantity input {
  max-width: 90px;
  height: 35px;
  padding: 0 10px;
  text-align: center;
}
.order-list table .delete {
  text-align: right;
  padding: 5px 0 5px 5px;
}
.order-list-actions {
  text-align: right;
}
.order-list-actions .btn-style {
  margin-top: 10px;
}
.order-list-actions .back-to-shopping {
  float: left;
}
.order-list-actions .back-to-shopping i {
  margin-right: 5px;
}
.order-list-actions .order-form i {
  margin-left: 5px;
}
.btn-style-icon.trash {
  color: #d9534f;
}
.btn-style-icon.trash:before {
  content: '\f014';
}
.btn-style-icon.trash:hover:before {
  content: '\f1f8';
  color: #d9534f;
}
/* order cart form */
.order-cart-form {
  width: 400px;
  padding: 20px;
  border-radius: 3px;
  background: #ffffff;
}
.order-cart-form form {
  width: 100%;
  margin: 0;
}
.order-cart-form .input-group {
  margin-bottom: 10px;
}
.order-cart-form label {
  display: block;
}
.order-cart-form label span {
  color: #d9534f;
}
.order-cart-form input.input-style {
  padding: 0 10px;
}
.order-cart-form textarea {
  display: inline-block;
  width: 100%;
  height: 120px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: none;
  resize: none;
}
.order-cart-form textarea:focus {
  outline: 0;
}
.order-cart-form .has-error label {
  color: #d9534f;
}
.order-cart-form .has-error input,
.order-cart-form .has-error textarea {
  border-color: #d9534f;
}
.preloader {
  position: relative;
}
.preloader:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
  z-index: 9;
}
.preloader.spinner:before {
  content: '\f110';
  font-family: FontAwesome;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -15px;
  font-size: 30px;
  line-height: 30px;
  color: rgba(0,0,0,0.7);
  z-index: 10;
  -webkit-animation: spinInfinite 1.5s infinite linear;
  animation: spinInfinite 1.5s infinite linear;
}
#orderCartDownload {
  display: none;
}

@media (max-width: 767px) {
  .order-list-actions {
    text-align: center;
  }
  .order-list-actions .back-to-shopping {
    float: none;
  }
  .order-list table td.quantity input {
    height: 30px;
  }
}

@media (max-width: 480px) {
  .order-cart-form {
    width: 280px;
    padding: 10px;
  }
  .order-cart-form h4 {
    margin-bottom: 10px;
  }
  .order-cart-form input.input-style {
    height: 35px;
  }
  .order-cart-form textarea {
    max-height: 70px;
  }
  .order-cart-form button.btn-style {
    line-height: 35px;
    height: 35px;
  }
}

@keyframes spinInfinite {
	0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
	100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
