.order-list .order-list-info {
  float: left;
}
.order-list .order-list-actions {
  float: right;
  margin-top: 7px;
}
.order-list .order-list-actions button {
  float: right;
  margin-left: 5px;
  color: #cccccc;
}
.order-list .order-list-actions button:hover {
  color: #79b38a;
}
.order-list.opened .btn-style-icon.toggle:before {
  content: '\f205';
  color: #79b38a;
}
.order-list .order-list-info h3 {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  margin: 0 0 2px;
}
.order-list .order-list-info span {
  font-size: 14px;
  opacity: .7; 
}
.order-list .order-list-info span:first-of-type:after {
  content: '|';
  margin: 0 5px;
}
.order-list .order-list-products {
  display: none;
}
.order-list table {
  margin-top: 10px;
}
.btn-style-icon.toggle:before {
  content: '\f204';
}
.btn-style-icon.download:before {
  content: '\f019';
}
#formOrderDownload {
  display: none;
}
.preloader {
  position: relative;
}
.preloader:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
  z-index: 9;
}
.preloader.spinner:before {
  content: '\f110';
  font-family: FontAwesome;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -15px;
  font-size: 30px;
  line-height: 30px;
  color: rgba(0,0,0,0.7);
  z-index: 10;
  -webkit-animation: spinInfinite 1.5s infinite linear;
  animation: spinInfinite 1.5s infinite linear;
}

@media (max-width: 767px) {
  .order-list .order-list-info span {
    display: block;
  }
  .order-list .order-list-info span:first-of-type:after {
    display: none;
  }
  .order-list .order-list-actions {
    margin-top: 20px;
  }
}

@keyframes spinInfinite {
	0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
	100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
