@preset-name: "Cubbis";
@preset-icon: concrete-icon(#79b38a, #e6e6e6, #333333);

@import url(//fonts.googleapis.com/css?family=Lato:400,600,700);

// Body
@body-type-font-family: ~"'Lato', sans-serif";
@body-type-color: #333333;
@body-type-font-size: 15px;
@body-background-color: #fafafa;
@body-gradient-top-color: unset;
@body-gradient-bottom-color: unset;
@heading-type-font-family: ~"'Lato', sans-serif";
@heading-type-font-weight: 600;
@heading-type-color: #333333;
@link-color: #2d2a2a;
@link-type-text-decoration: none;

// Elements
@main-color: #79b38a;
@secondary-color: #e6e6e6;
@header-icon-color: #6cac7f;
@header-text-color: #333333;
@header-background-color: transparent;
@footer-text-color: #333333;
@footer-link-color: #2d2a2a;
@footer-background-color: #f2f2f2;
@order-background-color: #e6e6e6;
