.product-list-block {
  position: relative;
}
.product-list-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-list-block ul li input {
  display: none;
}
.product-list-block ul li label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  user-select:           none; 
}
.product-filters {
  margin-bottom: 30px;
}
.product-filters div[class^="product-filters_"]:not(:empty) {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.product-filters div[class^="product-filters_"]:not(:empty):last-of-type {
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom: none!important;
}
.product-filters h5 {
  line-height: 24px;
  text-transform: uppercase;
}
.product-filters span.title {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 1.2;
  padding-top: 3px;
}
.product-filters span.title:first-letter {
  text-transform: uppercase;
}
.product-filters span.count {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 12px;
  line-height: 18px;
  height: 20px;
  min-width: 30px;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 35px;
  text-align: center;
  padding: 0 6px;
  -webkit-transition: all .2s ease;
	transition: 				all .2s ease;
  -webkit-transform: translate(0, -50%);
	transform: 				 translate(0, -50%);
}
.product-filters .list-scroll {
  scrollbar-color: rgba(0,0,0,0.07) rgba(0,0,0,0.2) !important;
  scrollbar-width: thin !important;
}
.product-filters .list-scroll::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.07);
}
.product-filters .list-scroll::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(0,0,0,0.07);
}
.product-filters .list-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
}
.product-filters .list-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
  scrollbar-face-color: rgba(0,0,0,0.2);
  scrollbar-track-color: rgba(0,0,0,0.07);
}
.product-filters ul {
  position: relative;
  padding: 0 10px 0 0;
  max-height: 195px;
  overflow: hidden;
  overflow-y: auto;
}
.product-filters ul li {
  position: relative;
  margin-bottom: 5px;
}
.product-filters ul li:last-of-type {
  margin-bottom: 0px;
}
.product-filters ul li label {
  position: relative;
  display: block;
  padding: 5px 40px 5px 0;
  min-height: 25px;
}
.product-filters_category ul li input:checked + label:before {
  content: '\f00c';
  font-family: FontAwesome;
  display: inline-block;
  vertical-align: top;
  padding: 3px 1px 0 0;
  width: 20px;
  font-size: 15px;
  line-height: 1.2;
}
.product-filters_category ul li input:checked + label:hover:before {
  content: '\f00d';
  color: #d9534f;
}
.product-filters_color ul li label {
  padding: 5px 40px 5px 2px;
}
.product-filters_color span.color {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;
  background: rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
.product-filters_color span.color:before {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  padding: 5px 0 0 1px;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
	transition: 				opacity .3s ease;
}
.product-filters_color input:checked + label span.color:before {
  opacity: 1;
}
.product-filters_color input:checked + label:hover span.color:before {
  content: '\f00d';
  color: #d9534f;
  -webkit-filter: none;
  filter: none;
}
.product-filters_provider ul {
  margin: 0 -5px;
  max-height: 100%;
}
.product-filters_provider ul:before,
.product-filters_provider ul:after {
  content: '';
  display: table;
  clear: both;
}
.product-filters_provider ul li {
  float: left;
  width: 50%;
  padding: 0 5px;
  margin-top: 10px;
  margin-bottom: 0;
}
.product-filters_provider ul li label {
  height: 55px;
  padding: 5px 40px 5px 5px;
  text-align: center;
  border: 1px solid transparent;
}
.product-filters_provider label:before {
  content: '\f00c';
  font-family: FontAwesome;
  display: block;
  position: absolute;
  top: -10px;
  left: -5px;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  z-index: 2;
	-webkit-transform: scale(0);
	transform: 				 scale(0);
	-webkit-transition: transform 0.3s ease;
	transition: 				transform 0.3s ease;
}
.product-filters_provider input:checked + label:before {
	-webkit-transform: scale(1);
	transform: 				 scale(1);
}
.product-filters_provider input:checked + label:hover:before {
  content: '\f00d';
  color: #d9534f;
}
.product-filters_provider input + label:hover span.provider {
  opacity: 0.1;
  z-index: 0;
}
.product-filters_provider input + label:hover span.title,
.product-filters_provider input + label:hover span.count {
  opacity: 1;
}
.product-filters_provider span.provider {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  z-index: 1;
}
.product-filters_provider span.title,
.product-filters_provider span.count {
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  opacity: 0;
}
.product-filters_provider span.title {
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: left;
  padding-top: 0;
  height: 100%;
}
.product-filters_provider span.count {
  right: 5px;
}
.product-filters .product-filter-range {
  margin-top: 13px;
}
.product-filters .product-filter-range input[type="number"] {
  float: left;
  margin-right: 5px;
  text-align: center;
  width: 40%;
	width: -webkit-calc(50% - 25px);
	width: 	 expression(50% - 25px);
	width: 				 calc(50% - 25px);
}
.product-filters .product-filter-range .btn-style {
  float: left;
  width: 40px;
}
.product-panel {
  text-align: right;
  margin-bottom: 20px;
}
.product-panel ul,
.product-panel div[class^="product-panel-"] {
  display: inline-block;
  vertical-align: top;
}
.product-panel ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.product-panel input:checked + label {
  font-weight: 600;
}
.product-panel label {
  font-size: 15px;
  line-height: 20px;
  padding: 0 6px;
  color: #8e8e8e;
}
.product-panel .product-panel-per_page {
  margin-right: 30px;
}
.product-panel .product-panel-per_page ul li:after {
  content: '/';
}
.product-panel .product-panel-per_page ul li:last-of-type:after {
  content: none;
}
.product-panel .product-panel-view {
  margin-right: 30px;
}
.product-panel .product-panel-view a {
  float: left;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity .25s ease;
	transition: 				opacity .25s ease;
}
.product-panel .product-panel-view a:not(:last-child) {
  margin-right: 10px;
}
.product-panel .product-panel-view a:hover,
.product-panel .product-panel-view a.active {
  opacity: 0.9;
}
.product-panel .product-panel-view a.per-row-1 {
  background: url('./icons/list-view-1.png') no-repeat center;
}
.product-panel .product-panel-view a.per-row-2 {
  background: url('./icons/list-view-2.png') no-repeat center;
}
.product-panel .product-panel-view a.per-row-3 {
  background: url('./icons/list-view-3.png') no-repeat center;
}
.product-panel .product-panel-sort select {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0 5px 2px 2px;
  max-width: 200px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-radius: 0;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-list-empty {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  text-align: center;
}
.product-list-empty a i {
  margin-left: 7px;
}
.product-list {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow:         row wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 30px;
  min-height: 100px;
}
.product-list.per-row-2 .product-image img {
  max-height: 560px;
  max-width: 100%;
  width: auto;
}
.product-list.per-row-3 .product-image img {
  max-height: 366px;
  max-width: 100%;
  width: auto;
}
.product-list .product-item {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 20px;
}
.product-list .product-item:after {
  display: none;
  content: '';
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 1px;
}
.product-list .product-item-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.15);
  box-shadow:         0 0 4px rgba(0,0,0,.15);
  -webkit-transition: box-shadow .3s ease;
  transition:         box-shadow .3s ease;
}
.product-list .product-item-inner:hover {
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,.2);
  box-shadow:         0 0 9px rgba(0,0,0,.2);
}
.product-list .product-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow:         none;
  text-align: center;
}
.product-list .product-image img {
  max-height: 400px;
  max-width: 100%;
  width: auto!important;
}
.product-list .product-image img[data-litebox]:hover {
  cursor: zoom-in;
}
.product-list .product-details {
  padding: 10px;
  text-align: center;
}
.product-list .product-details > h3,
.product-list .product-details > span,
.product-list .product-details > p {
  display: block;
  margin-bottom: 5px;
}
.product-list .product-details h3.name {
  font-size: 16px;
  line-height: 16px;
  min-height: 32px;
  max-width: 100%;
  word-wrap: break-word;
}
.product-list .product-details span.type {
  font-size: 14px;
  line-height: 18px;
}
.product-list .product-details span.price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 0;
}
.product-list .product-details p.description {
  display: none;
  font-size: 14px;
  padding-bottom: 10px;
}
/* remove Cart functionality */
/* .product-list .add-to-cart {
  position: relative;
  margin: 10px auto 0;
  text-align: left;
  border-radius: 3px;
  max-width: 250px;
}
.product-list .add-to-cart button {
  border-radius: 0;
}
.product-list.per-row-1 .add-to-cart {
  margin: 10px 0 0;
}
.product-list .add-to-cart .quantity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80px;
}
.product-list .add-to-cart .btn-qty {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 32px;
  width: 24px;
  padding: 0 1px;
  cursor: pointer;
  touch-action: none;
}
.product-list .add-to-cart .down {
  text-align: right;
}
.product-list .add-to-cart .up {
  text-align: left;
}
.product-list .add-to-cart .down:after {
  content: '\f146';
  font-family: FontAwesome;
}
.product-list .add-to-cart .up:after {
  content: '\f0fe';
  font-family: FontAwesome;
}
.product-list .add-to-cart input {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 100%;
  margin: 0 3px;
  font-size: 13px;
  font-weight: bold;
  border: 0;
  outline: 0;
  box-shadow: none;
  text-align: center;
  background: transparent;
  -moz-appearance: textfield;
}
.product-list .add-to-cart input::-webkit-inner-spin-button,
.product-list .add-to-cart input::-webkit-outer-spin-button {
  -webkit-appearance: none; 
}
.product-list .add-to-cart button {
  padding: 0 10px;
  height: 32px;
  font-size: 13px;
  line-height: 32px;
  width: 100%;
  max-width: 100%;
  text-overflow: initial;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  user-select:           none; 
}
.product-list .add-to-cart button:before {
  content: '\f07a';
  font-family: FontAwesome;
  margin-right: 5px;
  font-size: 18px;
  line-height: 16px;
}
.product-list .add-to-cart:hover button,
.product-list .add-to-cart button.focused {
  width: 50%;
  width: -webkit-calc(100% - 80px);
  width:   expression(100% - 80px);
  width:         calc(100% - 80px);
} */
.product-pagination {
  margin-bottom: 30px;
}
.product-pagination ul {
  text-align: center;
}
.product-pagination ul li {
  display: inline-block;
  vertical-align: top;
}
.product-pagination span.dots {
  display: inline-block;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 3px;
  cursor: default;
}
.product-pagination label {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 3px;
  height: 34px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all 0.25s ease;
  transition:         all 0.25s ease;
}
.product-pagination input:not(:checked):not(:disabled) + label:hover {
  background-color: rgba(0,0,0,0.05);
}
.product-pagination input:disabled + label {
  cursor: default;
}
.product-pagination input:checked + label {
  cursor: default;
}
.preloader.spinner:before {
  top: 70px;
}
.preloader {
  position: relative;
}
.preloader:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
  z-index: 9;
}
.preloader.spinner:before {
  content: '\f110';
  font-family: FontAwesome;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -15px;
  font-size: 30px;
  line-height: 30px;
  color: rgba(0,0,0,0.7);
  z-index: 10;
  -webkit-animation: spinInfinite 1.5s infinite linear;
  animation: spinInfinite 1.5s infinite linear;
}

@media (min-width: 992px) {
  .product-list.per-row-1 .product-item {
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
  }
  .product-list.per-row-1 .product-image {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
  }
  .product-list.per-row-1 .product-item-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: initial;
    flex-direction: initial;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }
  .product-list.per-row-1 .product-item:after {
    display: block;
  }
  .product-list.per-row-1 .product-item:last-of-type:after {
    display: none;
  }
  .product-list.per-row-1 .product-item:last-of-type {
    padding-bottom: 0px;
  }
  .product-list.per-row-1 .product-image {
    display: inline-block;
    width: 300px;
    -webkit-flex: 0 0 300px;
    flex: 0 0 300px;
  }
  .product-list.per-row-1 .product-details {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    text-align: left;
    -webkit-flex: 1 1 auto;
    flex:         1 1 auto;
    width: 50%;
    width: -webkit-calc(100% - 305px);
    width: 	 expression(100% - 305px);
    width: 				 calc(100% - 305px);
  }
  .product-list.per-row-1 .product-details h3,
  .product-list.per-row-1 .product-details span,
  .product-list.per-row-1 .product-details p {
    margin-bottom: 10px;
  }
  .product-list.per-row-1 .product-details h3.name {
    font-size: 22px;
    line-height: 24px;
  }
  .product-list.per-row-1 .product-details span.price {
    font-size: 20px;
  }
  .product-list.per-row-1 .product-details p.description {
    display: block;
  }
  .product-list.per-row-2 .product-item {
    max-width: 50%;
    -webkit-flex: 0 0 50%;
    flex:         0 0 50%;
  }
  .product-list.per-row-3 .product-item {
    max-width: 33.33333333%;
    -webkit-flex: 0 0 33.33333333%;
    flex:         0 0 33.33333333%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-list .product-item {
    max-width: 33.33333333%;
    -webkit-flex: 0 0 33.33333333%;
    flex:         0 0 33.33333333%;
  }
}
@media (max-width: 991px) {
  .product-filters.mobile-sidebar_filters {
    padding: 10px;
  }
  .product-filters .product-filters_price h5 {
    margin: 10px 0;
  }
  .product-filters div[class^="product-filters_"] {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  /* remove Cart functionality */
  /* .product-list .add-to-cart button {
    font-size: 0;
    color: transparent;
    width: 50%;
    width: -webkit-calc(100% - 80px);
    width:   expression(100% - 80px);
    width:         calc(100% - 80px);
  }
  .product-list .add-to-cart button:before {
    color: #ffffff;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
  } */
}
@media (max-width: 767px) {
  .product-pagination ul li {
    display: none;
  }
  .product-pagination ul li.active,
  .product-pagination ul li:nth-child(-n+2),
  .product-pagination ul li:nth-last-child(-n+2) {
    display: inline-block;
  }
}
@media (min-width: 401px) and (max-width: 767px) {
  .product-list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .product-list .product-item {
    max-width: 50%;
    -webkit-flex: 0 0 50%;
    flex:         0 0 50%;
    padding: 0 5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .product-list {
    display: block;
    -webkit-flex-flow: unset;
    flex-flow: unset;
    margin-bottom: 20px;
  }
  .product-list .product-item {
    display: block;
    margin-bottom: 10px;
  }
  .product-list .product-image img {
    max-height: 100%!important;
  }
  .product-list .product-details h3.name {
    min-height: auto;
  }
}

@keyframes spinInfinite {
	0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
	100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}