.block-carousel_text h3 {
  margin: 0 0 15px;
}
.block-carousel_text .slick-slide {
  height: 100%!important;
}
.block-carousel_text .carousel-item {
  padding: 0 20px;
}
.block-carousel_text .carousel-item .carousel-image {
  display: block;
  margin: 0 auto 15px;
  border-radius: 50%;
}
.block-carousel_text .carousel-item p:last-of-type {
  margin-bottom: 0;
}
