@media (min-width: 992px) {
	.nav-list {
		position: relative;
		list-style: none;
		text-align: center;
		height: 60px;
		z-index: 99;
	}
	.nav-list .nav-page {
		display: inline-block;
		height: 60px;
		padding: 0 10px;
	}
	.nav-list .nav-page > a {
		display: inline-block;
		position: relative;
		padding-top: 1px;
		padding-bottom: 1px;
		margin-top: 20px;
		font-size: 17px;
		line-height: 20px;
		text-decoration: none;
	}
	.nav-list .nav-page > a:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 2px;
		-webkit-transition: width 0.4s ease;
		transition: 				width 0.4s ease;
	}
	.nav-list .nav-page > a.active:after,
	.nav-list .nav-page > a:hover:after {
		width: 100%;
	}
	.nav-list .nav-page.has-submenu .nav-dropdown-arrow {
		position: relative;
		display: inline-block;
		margin-left: 4px;
	}
	.nav-list .nav-page.has-submenu .nav-dropdown-arrow:after {
		content: "\f107";
		font-family: FontAwesome;
	}
	.nav-list .nav-dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		pointer-events: none;
		-webkit-transform: translateY(15px);
		transform: 				 translateY(15px);	
		-webkit-transition: all 0.15s ease;
		transition: 				all 0.15s ease;
	}
	.nav-list .nav-dropdown:before,
	.nav-list .nav-dropdown:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: -1px;
		width: 1000px;
	}
	.nav-list .nav-dropdown:before {
		right: 100%;
	}
	.nav-list .nav-dropdown:after {
		left: 100%;
	}
	.nav-list .nav-page.has-submenu:hover .nav-dropdown {
		visibility: visible;
		opacity: 1;
		z-index: 99;
		pointer-events: visible;
    pointer-events: unset;
		-webkit-transform: none;
		transform: 				 none;
	}

	/* carousel slick style */
	.nav-list .carousel-slick {
		margin-bottom: 0;
	}
	.nav-list .carousel-slick .carousel-container {
		display: block;
	}
	.nav-list .slick-slide {
		padding: 5px 10px;
	}
	.nav-list .carousel-item {
		position: relative;
		display: inline-block;
		min-height: 80px;
		border-radius: 3px;
		background: #f2f2f2;
	}
	.nav-list .carousel-item a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
	}
	.nav-list .carousel-item .img-zoom {
		height: 100%;
	}
	.nav-list .carousel-item .nav-item-title {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: 				 translate(-50%, -50%);
		-webkit-transition: opacity 0.3s ease;
		transition: 				opacity 0.3s ease;
		opacity: 1;
	}
	.nav-list .carousel-item:hover .nav-item-title {
		opacity: 0;
	}
}

@media (max-width: 991px) {
	.nav-list {
		text-align: left;
	}
	.nav-list .nav-page {
		display: block;
	}
	.nav-list .nav-page > a {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		padding: 15px 10px;
		min-height: 30px;
		font-size: 13px;
		line-height: 20px;
		font-weight: 600;
		letter-spacing: 0.2px;
		text-transform: uppercase;
	}
	.nav-list .nav-dropdown {
		display: none;
	}
}
