@import "./presets/defaults.less";
@import "./build/mixins.less";
@import "build/elements.less";
@import "build/blocks.less";

.setGradientBackground(@a, @b) when (iscolor(@a)) and (iscolor(@b)) {
	background: linear-gradient(@a, @b);
}
// custom style for admin mode
body.admin-mode {
	div.ccm-page {
		.header {
			position: relative!important;
			margin-bottom: 30px;
		}
		@media (max-width: 991px) {
			padding-top: 80px !important;
			.header-autonav {
				top: 48px;
			}
		}
	}
	div.ccm-area-drag-area {
		min-height: 5px;
	}
	div.ccm-style-customizer-palette select:empty {
		display: none;
	}
}

// custom theme styles
body {
	.page-container {
		position: relative;
		font-family: @body-type-font-family;
		font-size: @body-type-font-size;
		color: @body-type-color;
		background-color: @body-background-color;
		.setGradientBackground(@body-gradient-top-color, @body-gradient-bottom-color);
		line-height: 1.6;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		min-height: 100vh;
		max-width: 100%;
		overflow: hidden;
		main {
			-webkit-flex-grow: 1;
  		flex-grow: 1;
		}
	}
	// typography
	h1, h2, h3, h4, h5, h6 {
		font-family: @heading-type-font-family;
		font-weight: @heading-type-font-weight;
		color: @heading-type-color;
		line-height: 1.4;
		margin: 0 0 20px;
	}
	h1 { font-size: 28px; }
	h2 { font-size: 24px; }
	h3 { font-size: 22px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	h6 { font-size: 14px; }
	p {
		margin: 0 0 10px;
	}
	a {
		color: fade(@link-color, 70%);
		text-decoration: @link-type-text-decoration;
		.transition(all 0.25s ease);
		&:active, &:focus, &:hover {
			text-decoration: @link-type-text-decoration;
			color: @link-color;
			outline: 0;
		}
		&:focus {
			outline: 0;
		}
	}
	img {
		height: auto;
		max-width: 100%;
	}
	input {
		&.input-style {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			width: 100%;
			padding: 0 15px;
			height: 40px;
			font-size: 14px;
			border-radius: 3px;
			box-shadow: none;
			background-color: transparent;
			border: 2px solid fade(@body-type-color, 30%);
			.transition(border-color 0.4s ease);
			&:focus {
				outline: 0;
				border: 2px solid fade(@body-type-color, 50%);
			}
			&[type="number"] {
				-moz-appearance: textfield;
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none; 
				}
			}
		}
	}
	table {
		th+th, td+td {
			padding-left: 15px;
		}
		&.table-centered {
			margin: 0 auto;
			text-align: left;
		}
	}
	// custom classes
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}
	.text-left {
		text-align: left;
	}
	.text-uppercase {
		text-transform: uppercase;
	}
	.white {
		color: #ffffff;
		h1, h2, h3, h4, h5, h6, li, p, a, span, i {
			color: #ffffff;
		}
	}
	.link-style-underline {
		display: inline-block;
		position: relative;
		padding-top: 1px;
		padding-bottom: 1px;
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 0;
			height: 2px;
			background: @main-color;
			.transition(width 0.4s ease);
		}
		&.active {
			&:after {
				width: 100%;
			}
		}
		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
	.btn-style {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		outline: 0;
		border: 0;
		border-radius: 3px;
		text-align: center;
		text-decoration: none;
		letter-spacing: 0.3px;
		font-weight: 600;
		padding: 0 12px;
		font-size: 15px;
		line-height: 40px;
		height: 40px;
		min-width: 40px;
		max-width: 90%;
		white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
		color: #ffffff;
		background-color: @main-color;
		cursor: pointer;
		.transition(all 0.25s ease);
		&:hover {
			color: #ffffff;
			.box-shadow(inset 0 0 200px rgba(0, 0, 0, 0.1));
		}
		&:active, &:focus {
			color: #ffffff;
		}
		&.small {
			font-size: 14px;
			line-height: 32px;
			height: 32px;
			width: auto;
			max-width: 100%;
			padding: 0 12px;
		}
		i {
			font-size: 16px;
		}
	}
}

// custom elements
.image-style-zoom {
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	.box-shadow(0 0 2px rgba(0, 0, 0, 0.12));
	.img-zoom {
		margin: -1px;
		.transition(transform 0.5s ease);
		a {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 3;
		}
		span {
			display: none;
		}
		img {
			width: 100%;
		}
		&.text-zoom {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				background-color: rgba(0, 0, 0, 0.4);
				.transition(opacity 0.3s ease);
				z-index: 1;
			}
			span {
				position: absolute;
				top: 50%;
				left: 50%;
				left: 0;
				width: 100%;
				text-align: center;
				color: #ffffff;
				cursor: default;
				.transform(translate(0, -50%));
				z-index: 2;
			}
		}
	}
	&:hover {
		.img-zoom {
			.transform(scale(1.15) translate(0));
			&.text-zoom {
				&:after {
					opacity: 1;
				}
				span {
					display: block;
					-webkit-animation: fadeIn 0.5s;
					animation: fadeIn 0.5s;
				}
			}
		}
	}
}
.carousel-slick {
	padding: 0 10px;
	margin-bottom: 20px;
	text-align: center;
	.carousel-container {
		position: relative;
		margin: 0 -10px;
		padding: 10px 0;
		display: none;
		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: 60px;
			z-index: 1;
		}
		&:before {
			right: 100%;
		}
		&:after {
			left: 100%;
		}
		&.slick-initialized {
			display: block;
			& + .carousel-container-loading {
				display: none;
			}
		}
		&:hover {
			.slick-arrow {
				opacity: 0.6;
				visibility: visible;
				&.slick-prev {
					left: -40px;
				}
				&.slick-next {
					right: -40px;
				}
			}
		}
		.slick-arrow {
			position: absolute;
			top: 0;
			width: 50px;
			height: 100%;
			border: none;
			outline: none;
			font-size: 0;
			line-height: 0;
			padding: 0;
			opacity: 0;
			color: transparent;
			background: transparent;
			visibility: hidden;
			z-index: 2;
			.transition(all 0.25s ease);
			&:after {
				font-family: FontAwesome;
				font-size: 50px;
				color: rgba(0,0,0,.8);
			}
			&.slick-prev {
				left: -60px;
				&:after {
					content: '\f104';
				}
			}
			&.slick-next {
				right: -60px;
				&:after {
					content: '\f105';
				}
			}
			&.slick-disabled {
				opacity: .3;
				cursor: not-allowed;
				&:hover {
					opacity: .3;
				}
			}
			&:hover {
				opacity: 0.9;
			}
		}
	}
	.carousel-container-loading {
		padding: 100px 0;
		display: block;
		i {
			color: rgba(0,0,0,.8);
		}
	}
	.slick-track {
		display: -webkit-flex !important;
		display: flex !important;
		.slick-slide {
			height: auto;
		}
	}
	.slick-dots {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin-top: 10px;
			padding: 0 3px;
			cursor: pointer;
			&.slick-active {
				button {
					border: 6px solid rgba(0, 0, 0, 0.8);
					background-color: rgba(0, 0, 0, 0.8);
				}
			}
			button {
				display: block;
				margin: 3px;
				padding: 0;
				outline: none;
				font-size: 0;
				line-height: 0;
				background: transparent;
				width: 12px;
				height: 12px;
				border: 2px solid rgba(0, 0, 0, 0.2);
				border-radius: 50%;
				.transition(border 0.25s ease);
				&:hover {
					border: 2px solid rgba(0, 0, 0, 0.8);
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.carousel-slick {
		padding: 0 30px;
		.carousel-container {
			margin: 0;
			&:hover {
				.slick-arrow.slick-prev {
					left: -30px;
				}
				.slick-arrow.slick-next {
					right: -30px;
				}
			}
			.slick-arrow {
				opacity: .6;
				visibility: visible;
				width: 40px;
				&.slick-prev {
					left: -30px;
				}
				&.slick-next {
					right: -30px;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	body {
		table {
			th+th, td+td {
				padding-left: 10px;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
