.block-teaser-info_box {
	margin-bottom: 40px;
	text-align: center;
}
.block-teaser-info_box .teaser-image {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -25px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.block-teaser-info_box .teaser-image img {
	position: relative;
	top: 50%;
	max-width: 65px;
	max-height: 65px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: translateY(-50%);
	transform: 				 translateY(-50%);
}
.block-teaser-info_box .teaser-info {
	margin-bottom: 20px;
	padding: 35px 20px 20px;
	border-radius: 6px;
}
.block-teaser-info_box .teaser-info h4 {
	display: block;
	margin-bottom: 10px;
}
.block-teaser-info_box .teaser-info p:last-of-type {
	margin-bottom: 0;
}
.block-teaser-info_box .teaser-info a.btn-box {
	margin-bottom: -60px;
}

@media (max-width: 767px) {
	.block-teaser-info_box .teaser-info {
		margin-bottom: 20px;
		padding: 30px 10px 20px;
		border-radius: 6px;
	}
}
