.block-carousel > h3 {
  margin-bottom: 10px;
}
.block-carousel .carousel-item {
  position: relative;
  padding: 10px;
}
.block-carousel .carousel-item-inner {
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.12);
  box-shadow:         0 0 4px rgba(0,0,0,.12);
  -webkit-transition: box-shadow .3s ease;
  transition:         box-shadow .3s ease;
}
.block-carousel .carousel-item .carousel-item-info {
  position: relative;
  padding: 20px;
}
.block-carousel .carousel-item .carousel-item-info > span {
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
	transform: 		     translate(-50%, 0);
  max-width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 24px;
  line-height: 24px;
  cursor: default;
  padding: 0 10px;
  overflow: hidden;
}
.block-carousel .carousel-item .carousel-item-info p:last-of-type {
  margin-bottom: 0;
}
.block-carousel .carousel-item:hover .img-zoom {
	-webkit-transform: scale(1.15);
	transform: 		     scale(1.15);
}
.block-carousel .carousel-item:hover .carousel-item-inner {
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,.2);
  box-shadow:         0 0 9px rgba(0,0,0,.2);
}
