.block-video-background {
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 700px;
}
.block-video-background:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
}
.block-video-background video {
	height: 700px;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.block-video-background .video-text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: 				 translate(-50%, -50%);
	width: 60%;
	max-width: 700px;
	padding: 40px;
	color: #ffffff;
	border-radius: 8px;
	letter-spacing: 0.3px;
}
.block-video-background .video-text * {
	color: inherit;
}
.block-video-background .video-text p {
	line-height: 1.2;
	margin-bottom: 10px;
}

@media (max-width: 991px) {
	.block-video-background {
		height: 600px;
	}
	.block-video-background video {
		height: 600px;
	}
	.block-video-background .video-text {
		width: 80%;
		max-width: unset;
		padding: 30px;
	}
}

@media (max-width: 767px) {
	.block-video-background {
		height: 500px;
	}
	.block-video-background video {
		height: 500px;
	}
	.block-video-background .video-text {
		width: 100%;
		width: calc(100% - 20px);
		padding: 20px;
	}
}
