.social-links {
	text-align: center;
}
.social-links ul.list-inline {
	display: inline-block;
	height: 40px;
	margin: 0px;
	padding: 1px 0px 0px;
}
.social-links ul.list-inline li {
	display: inline-block;
	list-style-type: none;
	margin: 4px;
	padding: 0px;
}
.social-links ul.list-inline li a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid;
}
.social-links ul.list-inline li a:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.2);
	color: #ffffff;
}
.social-links ul.list-inline li.icon_facebook a:hover {
	background-color: #365493;
	border-color: #365493;
}
.social-links ul.list-inline li.icon_skype a:hover {
	background-color: #3cf;
	border-color: #3cf;
}
.social-links ul.list-inline li.icon_linkedin a:hover {
	background-color: #0e76a8;
	border-color: #0e76a8;
}
.social-links ul.list-inline li a i {
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
	margin-top: -2px;
}
