.block-carousel_icons .slick-slide > div,
.block-carousel_icons .carousel-item {
  height: 100%;
}
.block-carousel_icons .carousel-item {
  padding: 0 20px;
  display: inline-block;
  display: -webkit-flex!important;
  display: flex!important;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
.block-carousel_icons img {
  margin: 0 auto;
  opacity: .5;
  -webkit-filter: grayscale(100%);
  filter:         grayscale(100%);
  -webkit-transition: all .3s ease;
	transition:         all .3s ease;
}
.block-carousel_icons img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter:         grayscale(0);
}